/* Спецификация */

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}
.wrapper{
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.ul, .li {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: block;
    padding: 0;
    
}
.h1, .h2, .h3, .h4, .h5{
    font-weight: 700;
    color: white;
    
}
.h3{
    font-weight: 400;
}

/* Первый экран */

.header{
    transition: all 0.4s ease;
    z-index: 999;
    position: absolute;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    position: absolute;
}
.menu{
    /* position: relative; */
    list-style-type: none;
    display: flex;
    float: right;
    margin-top: 10px;
}
.menu__item{
    margin: 10px;
}
.menu__item span .login{
    color: blue;
}
.menu__item span .fraud{
    color: red;
}
.menu__item a{
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.menu__item a:hover{
    background-color: #82EE49;
    transition: all 0.4s ease;
    color: #082C3B;
    text-decoration: none;
}
.advertising{
    display: block;
    margin-top: 117px;
    text-align: center;
    
}
.advertising__title{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 66px;
}
.advertising__text{
    line-height: 1.3em;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    width: inherit;  
}
.advertising__text span{
    color: #82EE49;
}
.advertising a.header-btn{
    padding: 1.5em 2em;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    border: 4px solid #82EE49;
    transition: all 0.4s ease;
}
.advertising a.header-btn:hover{
    background-color: #82EE49;
    transition: all 0.4s ease;
    color: #082C3B;
}
.container-fluid .advertising{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
    overflow: hidden;
    z-index: -100;
}
.container-fluid__video{
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* .outer{
    background: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 5;
} */
.header.header{
    position: fixed;
    top: -20px;
    line-height: 85px;
    height: 50px;
    width: 100%;
    background: rgba(5, 43, 59, 0.75);
    z-index: 9999;
}
